@tailwind base;
@tailwind components;
@tailwind utilities;

.background-image-container {
    background-image: url('./img/leaves.jpg');
    background-size: cover;
    background-position: center; 
    width: 100vw;
    height: 100vh;
  }
  